.header {
  position: fixed;
  background-color: blue;
  padding-top: 20px;
  padding-bottom: 20px;
  width: 100%;
}

.container {
  position: relative;
}

.search-form {
  display: flex;
  justify-content: center;
}

input {
  border: none;
  border-radius: 5px;
  padding-right: 30px;
  outline: none;
}

button {
  position: absolute;
  border: none;
  top: 0px;
  right: 0%;
  border-radius: 5px;
  width: 23px;
  height: 100%;
  font-size: 13px;
  padding: 0;
  margin: 0;
  cursor: pointer;
}
